body {
    margin: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
   background-color: #fdf3e7;
    border-bottom: 7px solid #2b272a;
    color: #5c5250;
    text-shadow: 0px 0px 4px black;
    border-radius: 5px;
    background-image: linear-gradient(
  45deg,
  rgba(43, 39, 42, 0.2) 0%,     /* Light version of #2b272a */
  rgba(43, 39, 42, 1) 40%,      /* Full #2b272a */
  rgba(83, 110, 121, 0.2) 60%,  /* Light teal-gray */
  rgba(83, 110, 121, 1) 100%    /* Full teal-gray */
);


    /* 
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
